<div class="project-container">
  <ul>
    <li *ngFor="let project of projects; index as i">
      <div id="project-title">
        <a href="">{{ project.name }}</a>
      </div>
      <div id="project-description">{{ project.description }}</div>
      <div id="project-date">Date: {{ project.date }}</div>
      <div>
        <button
        id="edit-button"
          [disabled]="isCreating || isUpdating"
          (click)="setUpdating(true); setEditingIndex(i); setCreating(false)"
        >
          Edit
        </button>
        <button
          id="remove-button"
          [disabled]="isCreating || isUpdating"
          (click)="removeProject(i)"
        >
          Remove
        </button>
      </div>
    </li>
  </ul>
</div>
<app-project-form
  *ngIf="isCreating || isUpdating"
  [editingIndex]="editingIndex"
  [(isCreating)]="isCreating"
  [(isUpdating)]="isUpdating"
  [projects]="projects"
  (updateProjects)="getProjects()"
>
</app-project-form>
<div (click)="setCreating(true); setUpdating(false)">
  <button id="create-button" *ngIf="!isCreating && !isUpdating">
    Create Project
  </button>
</div>
