button{
    margin-right: 15px;
    margin-bottom: 10px;
}

#project-title{
    font-size: larger;
    font-weight: bold;
}

#project-description{
    font-size: medium;
}

#project-date{
    font-size: small;
    font-style: italic;
    margin-bottom: 5px;
}

#remove-button{
    background-color: #ED254E;
    color: white;
}

#create-button{
    background-color: #C0F8D1;
}

#edit-button{
    background-color: #4A5899;
    color: white;
}