<div class="project-container">
  <ul>
    <li *ngFor="let project of projects; index as i">
      <div>
        <a href="">{{ i + 1 }}. {{ project.name }}</a>
      </div>
      <div>{{ project.description }}</div>
      <div>{{ project.date }}</div>
      <div>
        <button [disabled]="isCreating || isUpdating" (click)="removeProject(i)">Remove</button>
        <button
        [disabled]="isCreating || isUpdating"
          (click)="setUpdating(true); setEditingIndex(i); setCreating(false)"
        >
          Edit
        </button>
      </div>
    </li>
  </ul>
</div>
<div
  class="createButton"
  (click)="setCreating(true); setUpdating(false)"
  
>
  <button id="createProject" [disabled]="isCreating || isUpdating">Create Project</button>
</div>
<app-project-form
  *ngIf="isCreating || isUpdating"
  [editingIndex]="editingIndex"
  [(isCreating)]="isCreating"
  [(isUpdating)]="isUpdating"
  [projects]="projects"
  (updateProjects)="getProjects()"
>
</app-project-form>
